body {
  width: 1440px;
  height: 3300px;
  font-family: "Roboto", sans-serif;
  color: #2e2f42; /*#434455*/
  background: #ffffff;
  /*font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;*/
}

a,
ul,
ol {
  text-decoration: none;
}

h1 {
  color: #ffffff;
}
h2 {
  color: #2e2f42;
}

h3 {
  color: #434455;
}

.header {
  font-family: "Raleway", sans-serif;
  width: 1440px;
  height: 72px;
  background: #ffffff;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  width: 115px;
  height: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-part {
  color: #2e2f42;
}

.header-nav-list {
  width: 261px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav-list .link:hover,
.header-nav-list .link:focus,
.header-contacts-list .link:hover,
.header-contacts-list .link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list
/*.header-contacts-items,
.header-contacts-link*/ {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-image {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  /*padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);*/
  background: #4d5ae5;
}
button:hover,
button:focus {
  background: #404bbf;
}

.feauter {
  display: none;
}

.feauter-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  width: 1440px;
  height: 312px;
  color: #2e2f42;
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  width: 115px;
  height: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
