body {
    width: 1440px;
height: 3300px;
font-family: var(--font-family);
    color: var(--slate);
    background: var(--white);
   font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
}

a ul ol {
    text-decoration: none;
}

.header {
    width: 1440px;
    height: 72px;
    background: var(--white);
}

.header-navigation {
    width: 1440px;
height: 72px;
}

.header-navigation-logo {
    width: 115px;
height: 24px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.header-navigation-logo-part {
    color: var(--navy-blue);
}

.header-navigation-list {
    width: 261px;
height: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.header-contacts {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.header-contacts-list {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.header-contacts-items {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: var(--slate);
}

.header-contacts-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}