body {
  width: 1440px;
  height: 3300px;
  font-family: Roboto;
  color: #2e2f42;
  background: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

a,
ul,
ol {
  text-decoration: none;
}

h1 {
  color: #ffffff;
}
h2 {
  color: #2e2f42;
}

h3 {
  color: #434455;
}

.header {
  font-family: "Raleway", sans-serif;
  width: 1440px;
  height: 72px;
  background: #ffffff;
}

.header-nav-logo {
  width: 115px;
  height: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-nav-logo-part {
  color: #4d5ae5;
}

.header-nav-list {
  width: 261px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav-list:hover,
.header-nav-list:focus,
.header-contacts-list:hover,
.header-contacts-list:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list,
.header-contacts-items,
.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-image {
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
}
